@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using Mwm.MyQ.Client.Blayzor.Helpers;
@using Mwm.MyQ.Client.Blayzor.Models.Tsks
@using Mwm.MyQ.Domain;
@using Syncfusion.Blazor.Kanban
@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Cards
@page "/"
@page "/kanban"

<div clabottomottom">
    <div class="col-lg-12">
        <div class="d-flex flex-row justify-content-center">
            @if (IsLoading()) {
                <div class="spinner-border" role="status">
                    <span class="sr-only alert-light">Loading...</span>
                </div>
            }
            @if (HasErrors()) {
                <span>Whoops! Looks like an issue occurred loading TskModels</span>
            } else if (HasValues()) {

                <SfKanban @ref="KanbanBoard" TValue="TskModel" KeyField="StatusName" @bind-DataSource="@TskModels">
                    <KanbanColumns>
                        @foreach (var statusName in StatusNames) {
                            <KanbanColumn HeaderText="@statusName" KeyField="@statusName.ToKeyFields()"></KanbanColumn>
                        }
                    </KanbanColumns>
                    <KanbanCardSettings HeaderField="Name" ContentField="Notes">
                        <Template>
                            @{
                                TskModel data = (TskModel)context;

                                TODO FIX ME!!!!!!

                               <SfCard>
                                    <CardHeader Title="@data.Name" SubTitle="@data.InitiativeName" />
                                    <CardContent EnableSeparator="true"></CardContent>
                                    <CardContent>
                                        <table style="margin-bottom: 10px;">
                                            <tr>
                                                <td>
                                                    <div class="TempClass">@data.DurationEstimate hr</div>
                                                </td>
                  
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="RainImage"></span>
                                                    <span class="RainText">2% preciptation</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </CardContent>
                                    <CardContent EnableSeparator="true"></CardContent>
                                    <CardFooter>
                                        <CardFooterContent>
                                            Footer
                                        </CardFooterContent>
                                    </CardFooter>
                                </SfCard>
                            }
                        </Template>
                    </KanbanCardSettings>

                    <KanbanSwimlaneSettings KeyField="CompanyName" TextField="CompanyName" SortDirection="SortDirection.Ascending">
                    </KanbanSwimlaneSettings>
                    <KanbanEvents DragStop="@DragStopHandler" DialogOpen="@DialogOpenHandler" TValue="Models.Tsks.TskModel"></KanbanEvents>
                </SfKanban>

            }
        </div>
    </div>
</div>

<Mwm.MyQ.Client.Blayzor.Components.TskPopup @ref="TskPopup" />

<style>

    .e-kanban-header {
        margin-top: 10px;
    }

    .e-kanban {
        border-radius: 10px;
    }

    .e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-wrapper .e-card, .e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-container .e-card {
        margin-bottom: 0px;
    }

</style>
