@inherits Mwm.MyQ.Client.Mud.Components.ModelConsumerComponent<TskModel, Tsk>
@using Mwm.MyQ.Client.Service.Models
@using Mwm.MyQ.Domain

<MudCard Outlined="true"
         Class="m-2" 
         
         @ondblclick="@Edit"
         > <!--Style="width: 300px;"-->
    <MudCardHeader Style="@HeaderStyle" Class="p-2">
        <CardHeaderContent>
            <MudGrid>
                @if (IncludeCompanyName) {
                    <MudItem xs="8">
                        <MudText Typo="Typo.h6" Color="Color.Surface">
                            @TskModel.CompanyName > @TskModel.InitiativeName
                        </MudText>
                    </MudItem>
                } else {
                    <MudItem xs="8">
                        <MudText Typo="Typo.h6" Color="Color.Surface">
                            @TskModel.InitiativeName 
                        </MudText>
                    </MudItem>
                }
                @if (@TskModel.InitiativeExternalLink != null) {
                    <MudItem xs="4" Class="justify-end">
                        <MudLink Target="_blank" 
                                 Href="@TskModel.InitiativeExternalLink" 
                                 Typo="Typo.body2">
                            @TskModel.InitiativeExternalId
                        </MudLink>
                    </MudItem>
                }
            </MudGrid>
            <MudText Typo="Typo.h5">@TskModel.Name</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    @if (!string.IsNullOrEmpty(TskModel.Notes)) {
        <MudCardContent>
            <MudText>@TskModel.Notes</MudText>
            <MudDivider />
        </MudCardContent>
    }
    <MudCardActions>
        
        <MudGrid>
            <MudItem xs="5" Class="d-flex justify-start">
                @if (!string.IsNullOrEmpty(DueDateDisplay)) {
                    <MudText Typo="Typo.h6">@DueDateDisplay</MudText><MudChip Size="Size.Small" Variant="Variant.Text" Color="@DueDateCountColor">@DueDateCount</MudChip>
                }
            </MudItem>
            <MudItem xs="5">
                <MudText Typo="Typo.h6" Color="Color.Surface">
                    @HourProgressDisplay
                </MudText>
            </MudItem>
            <MudItem xs="2" Class="d-flex justify-end">
                @if (TskModel.Status == Status.Done) {
                    <MudToggleIconButton @bind-Toggled="@IsArchived"
                         Icon="@Icons.Filled.Archive" 
                         Color="@Color.Error" 
                         Title="All Statuses"
                         Size="Size.Small" 
                         ToggledIcon="@Icons.Filled.Archive" 
                         ToggledColor="@Color.Success" 
                         ToggledTitle="Action Statuses" 
                         ToggledSize="Size.Small" />
                } else {
                    <MudToggleIconButton @bind-Toggled="@IsDone"
                         Icon="@Icons.Filled.CheckBox" 
                         Color="@Color.Error" 
                         Title="All Statuses"
                         Size="Size.Small" 
                         ToggledIcon="@Icons.Filled.CheckBox" 
                         ToggledColor="@Color.Success" 
                         ToggledTitle="Action Statuses" 
                         ToggledSize="Size.Small" />
                }

                <MudToggleIconButton @bind-Toggled="@IsInFocus"
                         Icon="@Icons.Filled.Biotech" 
                         Color="@Color.Error" 
                         Title="All Statuses"
                         Size="Size.Small" 
                         ToggledIcon="@Icons.Filled.Biotech" 
                         ToggledColor="@Color.Success" 
                         ToggledTitle="Action Statuses" 
                         ToggledSize="Size.Small" />
            </MudItem>
        </MudGrid>
    </MudCardActions>
</MudCard>

@*<div class="card-template">
    <div class="e-card-header pb-2" style="@HeaderStyles">
        <div class="e-card-header-caption">
            <div class="container">
                <div class="row">
                    <div class="col-8 p-0">
                        @if (IncludeCompanyName) {
                            <small style="color: #ccc;" class="card-subtitle">
                                @TskModel.CompanyName?.ToUpper() - @TskModel.ProjectAbbreviation?.ToUpper() > @TskModel.InitiativeName
                            </small>
                        } else {
                            <small style="color: #ccc;" class="card-subtitle">
                                @TskModel.ProjectAbbreviation?.ToUpper() > @TskModel.InitiativeName
                            </small>
                        }
                    </div>
                    <div class="col-4 p-0 text-right">
                        <a target="_blank" class="link-alert card-subtitle" href="@TskModel.InitiativeExternalLink">@TskModel.InitiativeExternalId</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-0">
                        <div class="e-card-header-title e-tooltip-text">@TskModel.Name</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="e-card-content">
        <div class="e-text e-tooltip-text">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <span class="font-weight-lighter">@((MarkupString)TskModel.Notes)</span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-5">
                        <span class="badge rounded-pill bg-primary">@HourProgressDisplay</span>
                    </div>
                    <div class="col-5 text-right">
                        <span class="@DueDateDisplayClass">@DueDateDisplay</span>
                    </div>
                    @if (TskModel.IsInFocus) {
                        <div class="col-1 p-0 m-0" style="color: yellow; cursor: pointer;">
                            <i class="fas fa-lightbulb" @onclick="@ToggleInFocus"></i>
                        </div>
                    } else {
                        <div class="col-1 p-0 m-0" style="color: grey; cursor: pointer;">
                            <i class="far fa-lightbulb" @onclick="@ToggleInFocus"></i>
                        </div>
                    }
                    @if (TskModel.Status == Domain.Status.Done) {
                        @if (TskModel.IsArchived) {
                            <div class="col-1 p-0 m-0" style="color: yellow; cursor: pointer;">
                                <i class="fas fa-check-square" @onclick="@ToggleIsArchived"></i>
                            </div>
                        } else {
                            <div class="col-1 p-0 m-0" style="color: grey; cursor: pointer;">
                                <i class="far fa-check-square" @onclick="@ToggleIsArchived"></i>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>*@
