

    <MudDialog @bind-IsVisible="@IsDialogShowing" Options="DialogOptions">
        <TitleContent>
            <MudText Typo="Typo.h6">
                <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3"/>
                @HeaderMessage
            </MudText>
        </TitleContent>
        <DialogContent>
            <EditForm Model="@TskModel" OnValidSubmit="Save">
                <DataAnnotationsValidator/>

                <MudCard>
                    <MudCardContent>
                        <MudTextField Label="Name" HelperText=""
                                        @bind-Value="TskModel.Name" For="@(() => TskModel.Name)"/>

                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit" Class="ml-auto">Save</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@Close"  Class="px-10">Close</MudButton>
                    </MudCardActions>
                </MudCard>
   
            </EditForm>
        </DialogContent>
       @* <DialogActions>

        </DialogActions>*@
    </MudDialog>




@*

    <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="externalId">External ID:</label>
                                    @TskModel.InitiativeExternalId
                                </div>
                                <div class="form-group col-md-9">
                                    <label for="name">Name:</label>
                                    <SfTextBox Id="name" 
                                               class="form-control" 
                                               Placeholder="Name" 
                                               @bind-Value="@TskModel.Name" 
                                               @onkeydown="KeyboardEventHandlerAsync">
                                    </SfTextBox >
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="dueDate">Due Date:</label>
                                    <SfDatePicker ID="dueDate" TValue="DateTime?" @bind-Value="@TskModel.DueDate" Placeholder='Choose a Date'></SfDatePicker>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="startDate">Start Date:</label>
                                    <SfDatePicker ID="startDate" TValue="DateTime?" @bind-Value="@TskModel.StartDate" Placeholder='Choose a Date'></SfDatePicker>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="startDate">Started Date:</label>
                                    @TskModel.StartedDate?.ToString("MM-dd-YYYY");
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="completedDate">Completed Date:</label>
                                    <SfDatePicker ID="completedDate" TValue="DateTime?" @bind-Value="@TskModel.CompletedDate" Placeholder='Choose a Date'></SfDatePicker>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="durationEstimate">Duration Estimate:</label>
                                    <SfDropDownList ID="durationEstimate" TValue="float?" TItem="float" @bind-Value="@TskModel.DurationEstimate" Placeholder="Duration in hours" DataSource="@DurationDropDown">
                                    </SfDropDownList>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="durationCompleted">Duration Completed:</label>
                                    <SfDropDownList ID="durationCompleted" TValue="float?" TItem="float" @bind-Value="@TskModel.DurationCompleted" Placeholder="Duration in hours" DataSource="@DurationDropDown">
                                    </SfDropDownList>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="notes">Notes:</label>
                                <SfRichTextEditor @ref="TextEditor" @bind-Value="@TskModel.Notes" />
                            </div>


*@










      @*                              <MudTextField Label="Email" Class="mt-3"
                                              @bind-Value="model.Email" For="@(() => model.Email)"/>
                                <MudTextField Label="Password" HelperText="Choose a strong password" Class="mt-3"
                                              @bind-Value="model.Password" For="@(() => model.Password)" InputType="InputType.Password"/>
                                <MudTextField Label="Password" HelperText="Repeat the password" Class="mt-3"
                                              @bind-Value="model.Password2" For="@(() => model.Password2)" InputType="InputType.Password"/>*@




                                               @*<MudItem xs="12" sm="5">
                        <MudPaper Class="pa-4 mud-height-full">
                            <MudText Typo="Typo.subtitle2">Validation Summary</MudText>
                            @if (success)
                            {
                                <MudText Color="Color.Success">Success</MudText>
                            }
                            else
                            {
                                <MudText Color="@Color.Error">
                                    <ValidationSummary />
                                </MudText>
                            }
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="12">
                        <MudText Typo="Typo.body2" Align="Align.Center">
                            Fill out the form correctly to see the success message.
                        </MudText>
                    </MudItem>*@