@page "/"
@using Syncfusion.Blazor.Kanban
@*<SfKanban TValue="TasksModel" KeyField="Company" DataSource="Tasks">
    <KanbanColumns>
        @foreach (var company in Companies) {
            <KanbanColumn HeaderText="@company" KeyField="@(new List<string>() {company})">
            </KanbanColumn>
        }

    </KanbanColumns>
    <KanbanCardSettings HeaderField="Title" ContentField="Summary"></KanbanCardSettings>
    <KanbanSwimlaneSettings KeyField="StatusRank">
        <Template>
            @{
                SwimlaneSettingsModel swimlane = (SwimlaneSettingsModel)context;
                <div class="swimlane-template e-swimlane-template-table">
                    <div class="e-swimlane-row-text">
                        <span>@SwimLaneName(swimlane.KeyField)</span>
                    </div>
                </div>
            }
        </Template>

    </KanbanSwimlaneSettings>
</SfKanban>*@

Hello Bitches

<h2>CONFIG</h2>
@Configuration["MyClone:Api:Url"]

<h2>TSKS</h2>

@foreach (var tsk in Tsks) {
    <b>tsk: @tsk.Name</b>
} 

