<div class="card-template">
    <div class="e-card-header">
        <div class="e-card-header-caption">
            <small class="text-secondary card-card-subtitle">@TskModel.InitiativeName</small>
            <div class="e-card-header-title e-tooltip-text">@TskModel.Name</div>
        </div>
    </div>
    <div class="e-card-content" style="background-color: brown;">
        <div class="e-text e-tooltip-text">
            <div class="container">
                <div class="row">
                    <div class="col-2" style="background-color: blue;">
                        1
                    </div>
                    <div class="col-6" style="background-color: red;">
                        2
                    </div>
                    <div class="col-4" style="background-color: orange;">
                        3
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        <span class="badge rounded-pill bg-primary">@HourProgressDisplay</span>
                    </div>
                    <div class="col-4">
                        <span class="text-light">@DueDateDisplay</span>
                    </div>

                    <div class="col-4">
                        <a target="_blank" class="link-light" href="@TskModel.InitiativeExternalLink">@TskModel.InitiativeExternalId</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
