<div class="card-template">
    <div class="e-card-header bg-dark pb-2">
        <div class="e-card-header-caption">
            <div class="container">
                <div class="row">
                    <div class="col-8 p-0">
                        <small style="color: #ccc;" class="card-subtitle">@TskModel.InitiativeName</small>
                    </div>
                    <div class="col-4 p-0 text-right">
                        <a target="_blank" class="link-alert card-subtitle" href="@TskModel.InitiativeExternalLink">@TskModel.InitiativeExternalId</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-0">
                        <div class="e-card-header-title e-tooltip-text">@TskModel.Name</div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
    <div class="e-card-content">
        <div class="e-text e-tooltip-text">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <span class="font-weight-lighter">@((MarkupString)TskModel.Notes)</span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        <span class="badge rounded-pill bg-primary">@HourProgressDisplay</span>
                    </div>
                    <div class="col-4">
                        <span class="text-light">@DueDateDisplay</span>
                    </div>

                    <div class="col-4">
                        <a target="_blank" class="link-light" href="@TskModel.InitiativeExternalLink">@TskModel.InitiativeExternalId</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
