<div class="card-template">
    <div class="e-card-header pb-2" style="@HeaderStyles">
        <div class="e-card-header-caption">
            <div class="container">
                <div class="row">
                    @if (TskModel.IsInFocus) {
                        <div class="col-1 p-0 m-0" style="color: yellow; cursor: pointer;">
                            <i class="fas fa-lightbulb" @onclick="@ToggleInFocus"></i>
                        </div>
                    } else {
                        <div class="col-1 p-0 m-0" style="color: grey; cursor: pointer;">
                            <i class="far fa-lightbulb" @onclick="@ToggleInFocus"></i>
                        </div>
                    }
                    <div class="col-7 p-0">
                        @if (IncludeCompanyName) {
                            <small style="color: #ccc;" class="card-subtitle">
                                @TskModel.CompanyName.ToUpper() - @TskModel.ProjectAbbreviation.ToUpper() > @TskModel.InitiativeName
                            </small>
                        } else {
                            <small style="color: #ccc;" class="card-subtitle">
                                @TskModel.ProjectAbbreviation.ToUpper() > @TskModel.InitiativeName
                            </small>
                        }
                    </div>
                    <div class="col-4 p-0 text-right">
                        <a target="_blank" class="link-alert card-subtitle" href="@TskModel.InitiativeExternalLink">@TskModel.InitiativeExternalId</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-0">
                        <div class="e-card-header-title e-tooltip-text">@TskModel.Name</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="e-card-content">
        <div class="e-text e-tooltip-text">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <span class="font-weight-lighter">@((MarkupString)TskModel.Notes)</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="font-weight-lighter">@TskModel.RankId</span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-6">
                        <span class="badge rounded-pill bg-primary">@HourProgressDisplay</span>
                    </div>
                    <div class="col-6 text-right">
                        <span class="@DueDateDisplayClass">@DueDateDisplay</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
