@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs

@if (TskModel != null) {
    <SfDialog @ref="Dialog" Height="50%" Width="50%" Target="#target" IsModal="true" ShowCloseIcon="true" @bind-Visible="@IsDialogShowing" >
        <DialogTemplates>
            <Header>
                @if (IsNew) {
                    <h2>ADD TSK</h2>
                } else {
                    <h2>UPDATE TSK</h2>
                }
            </Header>
            <Content>
                <div class="dialogContent">
                
                    @*<div class="form-group">
                         <label for="first-name">ID:</label>
                         @TskModel?.Id
                     </div>

                    <div class="form-group">
                         <label for="first-name">Name:</label>
                         <SfTextBox ID="@TskModel?.Name"></SfTextBox>
                     </div>

                     <div class="form-group">
                         <label for="first-name">External ID:</label>
                         <SfTextBox ID="@TskModel?.ExternalId"></SfTextBox>
                     </div>*@
                
                    <div class="container">
                        <EditForm Model="@TskModel" OnValidSubmit="@Save">
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                            <div class="row">
                                <label for="name">Name: </label>
                                <InputText Id="name" @bind-Value="@TskModel.Name"></InputText>
                            </div>
                            <div class="row">
                                <label for="externalId">External ID: </label>
                                <InputText Id="externalId" @bind-Value="@TskModel.ExternalId"></InputText>
                            </div>
                            <div class="row">
                                <button type="submit">SAVE</button>
                            </div>
                        </EditForm>
                    </div>

                </div>
            </Content>
            <FooterTemplate>

                <SfButton @onclick="@Save">SAVE</SfButton>
                @*<button id="sendButton" class="e-control e-btn e-primary" data-ripple="true">Send</button>*@
            </FooterTemplate>
        </DialogTemplates>
        <DialogEvents Closed="@DialogCloseHandler"></DialogEvents>
    </SfDialog>
}
