@inherits Fluxor.Blazor.Web.Components.FluxorLayout
@using Syncfusion.Blazor.Navigations
@inject NavigationManager UriHelper

<div class="page-flex">
    <!-- ! Sidebar -->
    <aside class="sidebar @SidebarToggle">
        <div class="sidebar-start">
            <div class="sidebar-head" @onclick="Toggle">
                <a href="#" class="logo-wrapper" title="Home">
                    <span class="sr-only">Home</span>
                    <span class="icon logo" aria-hidden="true"></span>
                    <div class="logo-text">
                        <span class="logo-title">MyQlone</span>
                        <span class="logo-subtitle" style="text-transform: capitalize;">@ActiveSection</span>
                    </div>
                </a>
            </div>
            <div class="sidebar-body">
                <ul class="sidebar-body-menu">
                    <li>
                        <a class='@IsActiveSection("kanban") font-weight-bolder' @onclick='() => NavigateTo("kanban")' href="javascript:void(0);">
                            <span class="icon e-icons e-selection" aria-hidden="true"></span>
                            Kanban
                        </a>
                    </li>
                     <li>
                        <a class='@IsActiveSection("today") font-weight-bolder' @onclick='() => NavigateTo("today")' href="javascript:void(0);">
                            <span class="icon e-icons e-timeline-today" aria-hidden="true"></span>
                            Today
                        </a>
                    </li>
                     <li>
                        <a class='@IsActiveSection("notes") font-weight-bolder' @onclick='() => NavigateTo("notes")' href="javascript:void(0);">
                            <span class="icon e-icons e-list-unordered" aria-hidden="true"></span>
                            Notes
                        </a>
                    </li>
                     <li>
                        <a class='@IsActiveSection("tree") font-weight-bolder' @onclick='() => NavigateTo("tree")' href="javascript:void(0);">
                            <span class="icon e-icons e-align-left" aria-hidden="true"></span>
                            Tree
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </aside>

    <div class="main-wrapper">
        <!-- ! Main nav -->
        <nav class="main-nav--bg"></nav>
        <!-- ! Main -->
        <main class="main" id="skip-target">

            <div class="container-fluid">
                @Body
            </div>
        </main>
        <!-- ! Footer -->
        <footer class="footer">

        </footer>
    </div>
</div>


@code {

    public string SidebarToggle = "";

    public void Toggle() {
        SidebarToggle = SidebarToggle == "" ? "hidden" : "";
    }

    public string ActiveSection = "kanban";

    public string IsActiveSection(string section) => (section == ActiveSection) ? "active" : "";

    public void NavigateTo(string section) {
        ActiveSection = section;
        UriHelper.NavigateTo(section);
    }
}
